@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'ZTBros';
  src: url('ZTBrosOskonRegular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}


html,
body,
#root {
  height: 100%;
  margin: 0;
  --angle: 45deg; 
  background: linear-gradient(
    var(--angle),
    #1a131c,
    #2b1e29,
    #362538,
    #3d3250,
    #4e5572
  );
  background-attachment: fixed; /* Keeps the gradient fixed during scrolling */
  background-size: cover; /* Ensures it covers the full document */
  color: white;
}

@keyframes midnight-gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
 
}
